@import '../../global.scss';

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.nav-logo {
width: 15%;
    
img {
    width: 100%;
    }    
}

.navbar-list {
display: flex;
list-style: none;
padding: 0px 0px 0px 10px;
justify-content: flex-start;
}


.nav-menu {
    display: flex;
    padding: 20px;
    a {
        margin: auto;
        text-align:center;
        font-size: 20px;
        color: $font-color;
        text-decoration:none; 
        margin-left: 50px;
        font-weight: 700;
    }
}



