@import '../../global.scss';

.form-button {
    display: flex;
    text-align: center;
    width: 140px;
    button {
        margin: auto;
        justify-content: center;
        height: 48px;
        width: 140px;
        background-color: $primary-color;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
    }
}